Repository Systemorph/IFRS17CalculationEngine, pull requests merged in 2023-10, with the labels that each got.

#393 More paa
  ifrs17-template/Files/Dimensions.csv
  ifrs17-template/PracticalUseCases/PAA vs BBA/Actuals.csv
  ifrs17-template/PracticalUseCases/PAA vs BBA/DataImport.ipynb
  ifrs17-template/PracticalUseCases/PAA vs BBA/DataNodeParameters.csv
  ifrs17-template/PracticalUseCases/PAA vs BBA/DataNodeStates.csv
  ifrs17-template/PracticalUseCases/PAA vs BBA/DataNodes.csv
  ifrs17-template/PracticalUseCases/PAA vs BBA/NominalCashflows.csv
  ifrs17-template/PracticalUseCases/PAA vs BBA/ReportingNodes.csv
  ifrs17-template/PracticalUseCases/PAA vs BBA/Reports.ipynb
  ifrs17-template/PracticalUseCases/PAA vs BBA/YieldCurve_3.csv
  ifrs17-template/Test/Data/ExportIfrsVariable.ipynb
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2020_12_MTUP10pct_BE.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2020_12_MTUP10pct_L.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2020_12_MTUP10pct_LR.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2020_12__BE.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2020_12__C.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2020_12__DA.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2021_3__BE.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2021_3__C.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2021_3__DA.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2021_3__L.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2021_3__LR.csv
  ifrs17-template/Test/Data/ReportVariableBenchmarks/ReportVariableBenchmarks_2020_12_CH_MTUP10pct_Contractual.csv
  ifrs17-template/Test/Data/ReportVariableBenchmarks/ReportVariableBenchmarks_2020_12_CH__Contractual.csv
  ifrs17-template/Test/Data/ReportVariableBenchmarks/ReportVariableBenchmarks_2021_3_CH__Contractual.csv
  ifrs17/Report/ReportScopes.ipynb
Labels: bug

#405 ImportStorage OpeningIfrsVariables Query
  ifrs17-template/Test/ReimportTest.ipynb
  ifrs17/Import/ImportStorage.ipynb
  ifrs17/Test/ImportStorageTest.ipynb
Labels: bug

#406 Compute function fix for import of Gross without Reins
  ifrs17-template/Test/ReimportTest.ipynb
  ifrs17-template/Test/ScenarioDataImportTest.ipynb
  ifrs17/Constants/Enums.ipynb
  ifrs17/Import/ImportStorage.ipynb
  ifrs17/Import/Importers.ipynb
Labels: bug, import, scenario

#407 Structure type
  ifrs17-template/Files/Dimensions.csv
  ifrs17/Constants/Enums.ipynb
  ifrs17/DataModel/DataStructure.ipynb
  ifrs17/Import/1ImportScope-Identities.ipynb
  ifrs17/Import/2ImportScope-PresentValue.ipynb
  ifrs17/Import/3ImportScope-Actuals.ipynb
  ifrs17/Import/4ImportScope-TechnicalMargin.ipynb
  ifrs17/Import/ImportStorage.ipynb
  ifrs17/Import/Importers.ipynb
  ifrs17/Report/ReportStorage.ipynb
  ifrs17/Test/AocConfigurationTest.ipynb
  ifrs17/Test/AocStructureTest.ipynb
  ifrs17/Test/ExtentionsTest.ipynb
  ifrs17/Test/TestData.ipynb
  ifrs17/Test/Tests.ipynb
  ifrs17/Utils/Extensions.ipynb
  ifrs17/Utils/ImportCalculationMethods.ipynb
Labels: documentation, enhancement, projection, import
