Repository Systemorph/IFRS17CalculationEngine, pull requests merged in 2023-05, with the labels that each got.

#296 Ey cases
  ifrs17-template/Files/DataNodes/DataNodeParameters_ES_2020_12.csv
  ifrs17-template/Files/DataNodes/DataNodeParameters_FR_2020_12.csv
  ifrs17-template/Files/DataNodes/DataNodeStates_ES_2020_12.csv
  ifrs17-template/Files/DataNodes/DataNodeStates_FR_2020_12.csv
  ifrs17-template/Files/DataNodes/DataNodes_ES.csv
  ifrs17-template/Files/DataNodes/DataNodes_FR.csv
  ifrs17-template/Files/Dimensions.csv
  ifrs17-template/Files/Parameters/CreditDefaultRate.csv
  ifrs17-template/Files/Parameters/PartnerRating.csv
  ifrs17-template/Files/Parameters/YieldCurve_2019_12.csv
  ifrs17-template/Files/Parameters/YieldCurve_2020_3.csv
  ifrs17-template/Files/TransactionalData/Actuals_ES_2020_12.csv
  ifrs17-template/Files/TransactionalData/Actuals_FR_2020_12.csv
  ifrs17-template/Files/TransactionalData/NominalCashflows_ES_2020_12.csv
  ifrs17-template/Files/TransactionalData/NominalCashflows_FR_2020_12.csv
  ifrs17-template/Files/TransactionalData/Openings_ES_2020_12.csv
  ifrs17-template/Files/TransactionalData/Openings_FR_2020_12.csv
  ifrs17-template/Initialization/InitSystemorphBaseToMemory.ipynb
  ifrs17-template/Initialization/InitSystemorphToMemory.ipynb
  ifrs17-template/Test/PracticalCase-CompareReinsuranceTest.ipynb
  ifrs17-template/Test/Tests.ipynb
  ifrs17/Import/2ImportScope-PresentValue.ipynb
  ifrs17/Import/ImportStorage.ipynb
  ifrs17/Import/Importers.ipynb
Labels: bug, enhancement

#300 Slice by accident year current and previous
  ifrs17-template/Report/Reports.ipynb
  ifrs17-template/Test/Data/ReportVariableBenchmarks/ReportVariableBenchmarks_2020_12_CH_MTUP10pct_Contractual.csv
  ifrs17-template/Test/Data/ReportVariableBenchmarks/ReportVariableBenchmarks_2020_12_CH__Contractual.csv
  ifrs17-template/Test/Data/ReportVariableBenchmarks/ReportVariableBenchmarks_2021_3_CH__Contractual.csv
  ifrs17/Constants/Enums.ipynb
  ifrs17/DataModel/DataStructure.ipynb
  ifrs17/Report/ReportConfigurationAndUtils.ipynb
Labels: report

#308 LINQ Translation in Reports
  ifrs17-template/Database/MigrationAndScaffolding/Initial.ipynb
  ifrs17/Report/ReportConfigurationAndUtils.ipynb
Labels: bug, report

#304 ReleasePatterns and EconomicBasisDriver
  ifrs17-template/Database/MigrationAndScaffolding/Initial.ipynb
  ifrs17-template/Files/Dimensions.csv
  ifrs17-template/Files/TransactionalData/NominalCashflows_CH_2020_12.csv
  ifrs17-template/Files/TransactionalData/NominalCashflows_CH_2020_12_Projection.csv
  ifrs17-template/Files/TransactionalData/NominalCashflows_CH_2021_3.csv
  ifrs17-template/Files/TransactionalData/NominalCashflows_CH_2021_3_Projection.csv
  ifrs17-template/Files/TransactionalData/NominalCashflows_ES_2020_12.csv
  ifrs17-template/Files/TransactionalData/NominalCashflows_FR_2020_12.csv
  ifrs17-template/PracticalUseCases/ActualsOutsideThePeriod/NominalCashflows_ActualsCase_CH_2020_12.csv
  ifrs17-template/PracticalUseCases/ActualsOutsideThePeriod/NominalCashflows_ActualsCase_CH_2021_12.csv
  ifrs17-template/PracticalUseCases/ActualsOutsideThePeriod/NominalCashflows_ActualsCase_CH_2021_6.csv
  ifrs17-template/PracticalUseCases/CompareReinsuranceContracts/NominalCashflows_CH_2020_12_BE.csv
  ifrs17-template/PracticalUseCases/CompareReinsuranceContracts/NominalCashflows_CH_2020_12_LR70.csv
  ifrs17-template/PracticalUseCases/CompareReinsuranceContracts/NominalCashflows_CH_2020_12_LR80.csv
  ifrs17-template/PracticalUseCases/SingleVsMultipleCsmSwitch/NominalCashflows_CsmSwitch_CH_2020_12.csv
  ifrs17-template/PracticalUseCases/SingleVsMultipleCsmSwitch/NominalCashflows_CsmSwitch_CH_2021_3.csv
  ifrs17-template/Test/Data/DataNodeParameter_Duplicate.csv
  ifrs17-template/Test/Data/DataNodeParameter_InvalidDataNode.csv
  ifrs17-template/Test/Data/DataNodeParameter_InvalidParameters.csv
  ifrs17-template/Test/Data/DataNodeParameter_InvalidReinsCov.csv
  ifrs17-template/Test/Data/DataNodeParameter_MissingNonRequiredColumns.csv
  ifrs17-template/Test/Data/NominalCashflows_CH_2020_12_DT1.1NoPrem.csv
  ifrs17-template/Test/MapTemplateAndImportTest.ipynb
  ifrs17-template/Test/ScenarioDataImportTest.ipynb
  ifrs17-template/Test/ScenarioParametersImportTest.ipynb
  ifrs17-template/Test/ScenarioYieldCurveImportTest.ipynb
  ifrs17/Constants/Consts.ipynb
  ifrs17/Constants/Enums.ipynb
  ifrs17/Constants/Validations.ipynb
  ifrs17/DataModel/DataStructure.ipynb
  ifrs17/Import/2ImportScope-PresentValue.ipynb
  ifrs17/Import/Importers.ipynb
  ifrs17/Test/AggregateInterpolateTest.ipynb
  ifrs17/Test/DataNodeParameterTest.ipynb
  ifrs17/Test/ReportStorageTest.ipynb
  ifrs17/Test/TestData.ipynb
  ifrs17/Test/Tests.ipynb
  ifrs17/Utils/Extensions.ipynb
  ifrs17/Utils/ImportCalculationMethods.ipynb
Labels: import

#317 Paa data and amortization factor refactor
  ifrs17-template/Files/DataNodes/DataNodeParameters_CH_2020_12.csv
  ifrs17-template/Files/DataNodes/DataNodeStates_CH_2020_12.csv
  ifrs17-template/Files/DataNodes/DataNodes_CH.csv
  ifrs17-template/Files/TransactionalData/NominalCashflowsPAA_CH_2020_12.csv
  ifrs17-template/Import/InteractWithImportScopes/EvaluateImportScopes.ipynb
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2020_12__F.csv
  ifrs17-template/Test/Data/IfrsVariableBenchmarks/BM_CH_2021_3__F.csv
  ifrs17-template/Test/IfrsVariablesTest.ipynb
  ifrs17/Import/2ImportScope-PresentValue.ipynb
  ifrs17/Import/3ImportScope-Actuals.ipynb
  ifrs17/Import/4ImportScope-TechnicalMargin.ipynb
  ifrs17/Import/5ImportScope-ToIfrsVar.ipynb
  ifrs17/Import/ImportStorage.ipynb
  ifrs17/Import/Importers.ipynb
  ifrs17/Test/DoubleArrayExtentionsTest.ipynb
  ifrs17/Test/TechnicalMarginTest.ipynb
  ifrs17/Test/Tests.ipynb
  ifrs17/Utils/Extensions.ipynb
Labels: import

#314 Ey cases
  ifrs17-template/Files/DataNodes/DataNodeParameters_FR_2020_12.csv
  ifrs17-template/Files/DataNodes/DataNodeStates_FR_2020_12.csv
  ifrs17-template/Files/DataNodes/DataNodes_FR.csv
  ifrs17-template/Files/Dimensions.csv
  ifrs17-template/Files/TransactionalData/Actuals_FR_2020_12.csv
  ifrs17-template/Files/TransactionalData/NominalCashflows_FR_2020_12.csv
  ifrs17-template/PracticalUseCases/SingleVsMultipleCsmSwitch/CsmSwitchReports.ipynb
  ifrs17-template/Report/ReportEyCases.ipynb
  ifrs17-template/Report/Reports.ipynb
  ifrs17-template/Test/Data/ReportVariableBenchmarks/ReportVariableBenchmarks_2020_12_CH_MTUP10pct_Contractual.csv
  ifrs17-template/Test/Data/ReportVariableBenchmarks/ReportVariableBenchmarks_2020_12_CH__Contractual.csv
  ifrs17-template/Test/Data/ReportVariableBenchmarks/ReportVariableBenchmarks_2021_3_CH__Contractual.csv
  ifrs17-template/Test/PracticalCase-CSMSwitchTest.ipynb
  ifrs17/Constants/Consts.ipynb
  ifrs17/DataModel/DataStructure.ipynb
  ifrs17/Import/4ImportScope-TechnicalMargin.ipynb
  ifrs17/Report/ReportMutableScopes.ipynb
  ifrs17/Report/ReportScopes.ipynb
Labels: enhancement
